.custom-popup .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.5);
  }
.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.custom-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
  }


body, html {
  margin: 0;
  padding: 0;
}

body {
  /* Hat tip to: https://css-tricks.com/snippets/css/font-stacks/ */
  /* Helvetica/Arial-based sans serif stack */
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.homemap {
  height: 100%;
  width: 100%;
}

.info {
  background-color: #f3f3f9;
  background-color: rgba(250, 250, 255, 0.95);
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  box-shadow: 0 0 7px #999;
  color: #000000;
  font-size: 80%;
  padding: 0.25em 0.5em;
  text-align: center;
  word-wrap: break-word;

  position: absolute;
  bottom: 0;
  left: 1.0em;
  right: 1.0em;
}
